<style>

</style>

<main class="main">
  <h1>Angular 18 tutorial</h1>
  <app-c01expressions></app-c01expressions>
  <app-c02components></app-c02components>
  <app-c03input-properties
    [value]="50"
    [requiredInput]="'This is a required input'"
    [transformedInput]="'      This is an input with a transform        '"
    [typeCheckedInput]="100"
    [someBooleanAttribute]="'true'"
    [someNumberAttribute]="'42'"
    [inputWithAlias]="'This is an input with an alias'"
  ></app-c03input-properties>
  <app-c04custom-events-with-outputs
    (myEvent)="myEventEmitter()"
  ></app-c04custom-events-with-outputs>
</main>

<router-outlet />
