<h2>03 Input Properties (React "props")</h2>

<div>
  <p>The value I'm setting to "value" as "props" is {{value}}</p>
  <h3>Required Inputs</h3>
  <p>This is "requiredInput": {{requiredInput}}</p>
  <h3>Input Transforms</h3>
  <p>This is "transformedInput": {{transformedInput}}</p>
  <h3>Type checking</h3>
  <p>This is "typeCheckedInput": {{typeCheckedInput}}</p>
  <h3>Built-in transformations</h3>
  <p>This is "someBooleanAttribute": {{someBooleanAttribute}}</p>
  <p>This is "someNumberAttribute": {{someNumberAttribute}}</p>
  <h3>Input aliases</h3>
  <p>This is "inputWithoutAlias": {{inputWithoutAlias}}</p>
  <h3>Inputs with getters and setters</h3>
  <p>This is an input with a setter: {{myValue}}</p>
  <h3>Inputs in the Component decorator</h3>
  <p>This can be useful when a component inherits a property from a base class.</p>
  <p>This has been sent with the Component decorator: {{withDecorator}}</p>

</div>
